@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}





.circle-designtop {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(185, 54, 245, 0.4) 0%, rgba(138, 43, 226, 0.2) 30%, transparent 70%);
  border-radius: 50%;
  top: -250px;
  left: 500px;
  pointer-events: none;
  z-index: 0;
  filter: blur(40px);
}
